{% extends "jassbot/index.html.j2" %}

{% block title %}
    Doc - {{entity}}
{% endblock %}

{% block results %}
    <h1>{{entity}}</h1>
    <dl>
	{% if parameters %}
	    <dt>Parameters</dt>
	    <dd>
	    <table class="table">
		{% for parameter in parameters %}
		    <tr>
			<td>{{ parameter['name'] }}</td>
			<td><code>{{ parameter['type'] }}</code></td>
			<td>{{ parameter['html'] }}</td>
		    </tr>
		{% endfor %}
	    </table>
	    </dd>
	{% endif %}

	{% for annotation in annotations %}
	    <dt>{{ annotation['name'] }}</dt>
	    <dd>{{ annotation['html'] }}</dd>
	{% endfor %}

	<dt>wc3modding.com</dt>
	<dd>
	    {% if kind == 'global' %}
		<a href="https://wc3modding.info/pages/jass-documentation-database/class/variables/query/{{entity}}/">{{entity}}</a>
	    {% elif kind == 'native' %}
		<a href="https://wc3modding.info/pages/jass-documentation-database/class/functions/query/{{entity}}/">{{entity}}</a>
	    {% elif kind == 'function' %}
		<a href="https://wc3modding.info/pages/jass-documentation-database/class/functions/query/{{entity}}/">{{entity}}</a>
	    {% elif kind == 'type' %}
		<a href="https://wc3modding.info/pages/jass-documentation-database/class/types/query/{{entity}}/">{{entity}}</a>
	    {% endif %}
	</dd>
    </dl>
{% endblock %}
