.highlighted {
  color: white;
}

.keyword {
  color: rgb(170, 170, 170);
  font-weight: bold;
}

.ident {
  color: rgb(230,230,230);
}

.native a {
  color: rgb(180,32,180);
}

.number {
  color: rgb(51, 51, 240);
}

.string {
  color: lightblue;
}

.rawcode {
  color: lightblue;
}

.bool {
  color: lightblue;
}

.type a {
  color: rgb(40, 90, 160);
}

.null {
  color: lightblue;
}

