.highlighted {
  color: white;
}

.keyword {
  color: gray;
  font-weight: bold;
}

.ident {
  color: white;
}

.string {
  color: lightblue;
}

.rawcode {
  color: lightblue;
}

.bool {
  color: lightblue;
}

.null {
  color: lightblue;
}

