<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}X{% endblock %}
        </title>
        <link rel="stylesheet"
              type="text/css"
              href="{{ url_for('.static', filename='jassbot/bootstrap.min.css') }}">
        <link rel="stylesheet"
              type="text/css"
              href="{{ url_for('.static', filename='jassbot/style.css') }}">
        <link rel="search"
              type="application/opensearchdescription+xml"
              href="{{ url_for(".opensearch") }}"
              title="jassdoc" />
        <link rel="icon"
              type="image/x-icon"
              href="{{ url_for('.static', filename='jassbot/favicon.png') }}">
        <script>$SCRIPT_ROOT = "{{ url_for('.index') }}";</script>
        <script src="{{ url_for('.syntax_regexps') }}"></script>
        <script src="{{ url_for('.static', filename='jassbot/test.js') }}"></script>
        <script src="{{ url_for('.static', filename='jassbot/preview.js') }}"></script>
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
        <script type="text/javascript">
        const mq = window.matchMedia('(prefers-color-scheme: dark)')
        const changeTheme = () => {
            document.documentElement.setAttribute('data-bs-theme', mq.matches ? 'dark' : 'light')
        }
        mq.addEventListener('change', changeTheme)
        changeTheme()
	    hl()
	    setup()
        </script>
    </body>
</html>
