<OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/"
                      xmlns:moz="http://www.mozilla.org/2006/browser/search/">
  <ShortName>jassdoc</ShortName>
  <Description>Search Jassdoc</Description>
  <InputEncoding>UTF-8</InputEncoding>
  <Image width="16" height="16" type="image/x-icon">{{domain}}{{ url_for('.static', filename="jassbot/favicon.png") }}</Image>
  <Url type="text/html" method="get" template="{{domain}}{{ url_for('.search') }}?query={searchTerms}" />
  <moz:SearchForm>{{domain}}{{ url_for('.search') }}</moz:SearchForm>
</OpenSearchDescription>

