{% extends "jassbot/index.html.j2" %}
{% block head %}
    <script>
        const state = { json: {results: {{results}}}, value: "{{query|forceescape}}" };
        window.history.replaceState(state, "");
    </script>
{% endblock %}
{% block title %}Search - {{ query|escape }}{% endblock %}
{% block results %}
    {% for result in results %}
        <div class="result">
            <code>{{ result }}</code>
        </div>
    {% endfor %}
{% endblock %}
{% block main %}{% endblock %}
