{% extends "jassbot/index.html.j2" %}

{% block title %}
    Search - {{ query }}
{% endblock %}

{% block results %}
    {% for result in results %}
        <p><code>{{ result }}</code></p>
    {% endfor %}
{% endblock %}
